---
import "../styles/global.css";

import TwitchIcon from '~/assets/icons/twitch-bw.png';
import DiscordIcon from '~/assets/icons/discord-bw.png';
import TwitterIcon from '~/assets/icons/x.png';
import KoomerExcited from '~/assets/koomer-excite.png';

const sidebarLinks = [
  { href: '/', displayText: 'Home'},
  { href: '/about', displayText: 'About' },
  { href: '/socials', displayText: 'Socials' },
  { href: '/jast', displayText: 'Jast Idols'},
  { href: '/lily', displayText: 'lily' },
  { href: '/asmr', displayText: 'ASMR' },
  { href: '/dnd/baldurs-gate', displayText: "Baldur's Gate (D&D)" }
]

const topNavLinks = [
  { href: "https://x.com/kumogorogoro", img: TwitterIcon.src },
  { href: "https://www.twitch.tv/kumogorogoro", img: TwitchIcon.src },
  { href: "https://discord.gg/kumtown", img: DiscordIcon.src }
]

const currentPath = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://doxyxdd.github.io/">
    <meta property="og:title" content="Random Koomer's Fan Page">
    <meta property="og:description" content="Fan made page for vtuber kumogorogoro. Made for fun and educational purposes!">
    <meta property="og:image" content="https://doxyxdd.github.io/kumo-nerd.png">
    <title>Kumogorogoro Fan Site</title>
  </head>
  <body class="bg-black text-white">
    <!-- Header -->
    <div class=" bg-kumo-pink p-2 font-kalam text-3xl border-b-kumo-purple border-b-4 flex items-center">
      <div class="w-8">
        <img src={KoomerExcited.src} class="flex-none w-100" />
      </div>
      <h1 class="w-64 flex-1 px-2">kumogorogoro fan site</h1>
      {topNavLinks.map(item => (
        <a href={item.href} class="flex-none px-2">
          <img src={item.img} height="32" width="32" />
        </a>
      ))}
    </div>
    <!-- Sidenav -->
    <div>
      <nav class="font-mono w-40 h-full p-0 text-xl text-kumo-purple fixed border-r-4 border-kumo-purple">
        {sidebarLinks.map(item => (
          <a 
            class:list={[
              { "font-bold": currentPath === item.href },
              `block p-2 
              border-l-4 border-l-transparent
              hover:border-l-4 hover:border-kumo-yellow
              `
            ]}
            href={item.href}>{item.displayText}</a>))}
      </nav>
      <main class="ml-40 p-2">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
